.conteiner__fale {
	display: flex;
	width: 1082px;
	background-color: #e75f02;
	border-radius: 10px;
}
.formulario {
	display: flex;
	flex-direction: column;
	width: 400px;
}
input {
	width: 100%;
	border: 0;
	border-radius: 10px;
	height: 30px;
}
textarea {
	width: 100%;
	border: 0;
	border-radius: 10px;
	height: 200px;
}
.h2__form {
	text-align: center;
	font-weight: 100;
	font-family: 'Courier New', Courier, monospace;
	padding: 20px;
}
.logo2 {
	box-shadow:
		-10px 0px 13px -7px #000000,
		10px 0px 13px -7px #000000,
		14px 5px 16px 15px rgba(255, 165, 64, 0);
	border-top-left-radius: 40px;
	border-bottom-right-radius: 40px;
}
.form__conteiner {
	background-color: rgb(255, 186, 121);
	width: 500px;
}
label {
	padding: 10px;
	color: rgb(0, 0, 0);
}
@media screen and (max-width: 768px) {
	.conteiner__fale {
		display: flex;
		width: auto;
		flex-direction: column;
		padding-bottom: 21px;
	}
	.logo2 {
		width: 500px;
	}
}
@media screen and (max-width: 360px) {
	.form__conteiner {
		width: auto;
	}
	.formulario {
		width: auto;
	}
	input,
	textarea {
		width: auto;
	}
	.logo2 {
		width: 200px;
	}
}
.BTNENVIAR {
	border-radius: 5px;
	border: 0;
	margin: 10px;
	padding: 5px;
	color: antiquewhite;
	background-color: brown;
	cursor: pointer;
	transition: all 0.4s;
	&:hover {
		color: black;
		background-color: aliceblue;
	}
}
